body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#5863f8;

}
ul {
  list-style:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin:0;
  padding:0 ;
  box-sizing:border-box;
  scroll-behavior: smooth;
}
section {
  display:Flex;
  align-items:center;
  flex-direction: column;
  height: 100vh;
  margin-top:60px;


}
section span {
  color:#171d1c;

}
section h2 {
  font-size:130px;
  font-style:normal;
  font-weight: bold;
  margin-bottom:2rem;
  font-family:'Montserrat', sans-serif;
  color:#efe9f4;
}
.sectionHeader p {
  font-family:'Lora', serif;
  color:#171d1c;

}
